<div class="wrapper">
  <aside class="main_sidebar">
      <ul>
          <li><i class="fa fa-arrows"></i><a href="#">arrows</a></li>
          <li><i class="fa fa-battery-2"></i><a href="#">battery</a></li>
          <li class="active"><i class="fa fa-bell"></i><a href="#">bell</a></li>
          <li><i class="fa fa-bicycle"></i><a href="#">bicycle</a></li>
          <li><i class="fa fa-circle"></i><a href="#">circle</a></li>
          <li><i class="fa fa-crosshairs"></i><a href="#">crosshairs</a></li>
          <li><i class="fa fa-deaf"></i><a href="#">deaf</a></li>
          <li><i class="fa fa-desktop"></i><a href="#">desktop</a></li>
          <li><i class="fa fa-dot-circle-o"></i><a href="#">dot</a></li>
          <li><i class="fa fa-folder"></i><a href="#">folder</a></li>
      </ul>
  </aside>
  <div class="mian">
      <h1>Prakash </h1>
  </div>
</div>
